<br><br>
<%= form_for @beneficiary do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        Select Beneficiary Account No. <%= f.select :beneficiary_id, options_from_collection_for_select(BankAccount.all, :id ,"account_number",readonly: true)%>      
      </div>
      <div class="col-sm-6">      
      </div>
    <br><br>
    <div>
      <%=submit_tag("Submit")%>  
    </div>
  </div>    
<%end%>
