<h1>Listing Sellers</h1>
<div class="container">
  <table class="table">
    <thead>
      <tr>
        <th>SellerName</th>
        <th>Items</th>
        <th></th>
      </tr>
    </thead>
    <tbody> 
      <% @sellers.each do |seller| %>
        <tr>
          <td><%= seller.full_name %></td>
          <td><% seller.items.each do|item|%>
          <td><%=item.title%></td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
