<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi </h1>
    <p>
      Order has been placed by the user <%=current_user.name%> plz ship it as soon as possible 
      <%=@order.id%>
      <%=@order.amount%>
      <%=@order.quantity%>
    </p>
  </body>
</html>
