<br><br>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <%=link_to'Veiw Profile',profile_users_path %>
    </div>
    <div class="col-sm-4">
      <%=link_to'Veiw Previous Orders', veiw_order_user_orders_path(current_user)%>
    </div>
  </div>
</div>
