<br><br>
  <h2> Previous orders</h2>
<div class="container">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th>Order ID</th>
        <th>Amount</th>
      </tr>
    </thead>
    <tbody> 
      <%if user_signed_in?%>
        <% @orders.each do |order|%>
          <tr>
            <td><%=order.id%></td>
            <td><%=order.amount%></td>
          </tr>
        <%end%>
      <%end%>
    </tbody>    
  </table>
</div>
  