<br><br>
<%= form_for @user ,user do |f| %>
  
 <div class="container">
    <div class="row">
      <div class="col-sm-6">
        Select Beneficiary Account No. <%= select_tag "credit_acc", options_from_collection_for_select(BankAccount.all, "account_number","account_number",readonly: true)%>      
      </div>
        
      <div class="col-sm-6">      
      </div>
    
    <br><br>
   
   <div>
      <%=submit_tag("Submit")%>  
   </div>
  </div>    
<%end%>
