<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi </h1>
    <p>
      Order has been placed by the user <%=@order.user.name%> plz ship it as soon as possible<br><br> 
      Order Id:<%=@order.id%><br>  
      Amount:<%=@order.amount%><br>
      Quantity:<%=@order.quantity%><br>
    </p>
  </body>
</html>
