<br>
<h3> Confirm your Order</h3><br>
<%= form_with(model: [ @item, @item.orders.build ], local: true) do |f| %>
  <div class="container">
    <div class="row">
      <div class="col-sm-4">
        confirm your order <%=f.check_box :order_confirmation,{}, true, false %>
      </div>
      <div class="col-sm-4">
        select quantity<%= f.select(:quantity, options_for_select([['1'], ['2'],['3']],1)) %>
      </div>
      <div class="col-sm-4">
        <%=f.submit("Submit")%>
      </div>
    </div>
  </div>  
<% end %>     